{{#if navigation}}
  <nav class="navigation">
    {{#each navigation.items as |lv1|}}
      <div class="navigation-item-container-lv1">
        {{#if lv1.folder}}
          <div id="navigation-item-{{lv1.id}}" class="navigation-item-lv1 navigation-folder{{#if lv1.active}} active{{/if}}">{{lv1.title}}</div>
        {{else}}
          <a href="{{lv1.url}}" id="navigation-item-{{lv1.id}}" class="navigation-item-lv1{{#if lv1.active}} active{{/if}}">{{lv1.title}}</a>
        {{/if}}
        {{#if items}}
          <div id="navigation-item-{{lv1.id}}-children" class="navigation-item-container-lv2">
            {{#each lv1.items as |lv2|}}
              <a href="{{lv2.url}}" id="navigation-item-{{lv2.id}}" class="navigation-item-lv2{{#if @first}} first{{/if}}{{#if @last}} last{{/if}}{{#if lv2.active}} active{{/if}}">{{lv2.title}}</a>
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </nav>
{{/if}}
