<div data-bsi-element="dynamic-value-list" class="dynamic-value-list" data-bsi-entity-id="{{entityTypeAndInitialValue.dataModelValue.type}}" >
    <label for="{{id.value}}">{{name.value}}</label>
    <select id="{{id.value}}" name="{{id.value}}"
      value="{{entityTypeAndInitialValue.displayText}}"
      data-bsi-entity-key-value="{{entityTypeAndInitialValue.dataModelValue.value}}"
      data-bsi-entity-key-display-text="{{entityTypeAndInitialValue.displayText}}" >
    </select>
</div>