<!DOCTYPE html>
<html lang="en">
<head>
  <title>BSI CX Design Build Test Template</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{{ bsi_cx_css_href() }}"/>
  <style>
    {{ bsi_cx_css_inline() }}
  </style>
  <script src="{{ bsi_cx_js_module_runtime_href() }}" defer="defer"></script>
  <script src="{{ bsi_cx_js_module_href('main') }}" defer="defer"></script>
  {{ bsi_cx_js_module_missing_chunks_import() }}
</head>
<body>
{% apply spaceless %}
  <div data-bsi-dropzone="a1683342-d4a7-4c26-924e-bce162c4399f">
    {% block content %}{% endblock %}
  </div>
{% endapply %}

</body>
</html>
