<div class="bsi-template-button" data-bsi-element="template-button-3seC3G">
    <a href="{{ link-1wfD2H.url }}" target="{{#if link-1wfD2H.openInNewWindow}}_blank{{else}}_target{{/if}}" aria-label="{{ link-1wfD2H.description }}">{{ link-1wfD2H.text }}</a>
    <div>{{ multiline-plain-text-wmiRti.value }}</div>
</div>